<!-- <div class="record-pay">

    <can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form>
</div> -->
<div>
    <div class="right-action-button">
        <button mat-icon-button matTooltip="Close Modal" color="warn" (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-header" >
        <h2>Record Payment</h2>
    </div>
</div>
<div>
    <can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form>
    <!-- <can-form [formConfig]="formData" (getData)="getData($event)" (formSubmitted)="formSubmitted($event)"></can-form> -->
</div>