.record-pay{
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 65px 10px;
}


.right-action-button {
    width: 100%;
    text-align: end;
    float: right;
    z-index: 999999;
    position: sticky;
    margin: -23px;
    top: -23px;
    margin-top: -24px;
}
.right-action-button button {
    border-radius: 50%;
    background-color: #ffffffcf;
} 