<div>
    <div class="right-action-button">
        <button mat-icon-button matTooltip="Close Modal" color="warn" (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div>
    <can-form [formConfig]="formData" (getData) ="updateLead($event)" (formSubmitted)="formSubmitted($event)"></can-form>
</div>