.right-action-button {
    width: 100%;
    text-align: end;
    float: right;
    z-index: 999999;
    position: sticky;
    margin: -23px;
    top: -23px;
    margin-top: -24px;
}
.right-action-button button {
    border-radius: 50%;
    background-color: #ffffffcf;
} 