<div>
    <div class="right-action-button">
        <button mat-icon-button matTooltip="Close Modal" color="warn" (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-header" >
        <h2>Post updates</h2>
    </div>
</div>
<div>
    <can-form [formConfig]="formData" (getData)="getData($event)" (formSubmitted)="formSubmitted($event)"></can-form>
</div>
<!-- <h2>asdsgsagdagas</h2> -->