<!-- <can-card-fab-view  [cardViewConfig]="cardViewConfig" ></can-card-fab-view> -->
<!-- <can-detail-view [detailViewConfig]="detailViewData"></can-detail-view> -->
<div class="modelButton">
    <can-button *canValidatePermission="postUpdatePermission"
[buttonConfig]="postUpdatesButtonConfig"
(click)="openPostModal()"
></can-button>
</div>
<!-- <diV fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;"> -->
    <!-- <div fxFlex="50%" class="detailStyle">
        <h3>Post an update</h3>       
            <app-post-updates [order]="order" (outputEvent)="outputEvent($event)"></app-post-updates> s
       
    </div> -->
    
    
    <!-- <div fxFlex="50%" >
        <h3>Previous updates</h3> -->
        <!-- <div *ngFor="let progress of progresses" class="detailStyle"> -->
            <!-- <app-previous-updates [order]="order" ></app-previous-updates> -->
           
        
        <!-- </div> -->
    <!-- </div> -->
    
   
    
<!-- </diV> -->
<div>

    <app-previous-updates [order]="order" ></app-previous-updates>
</div>
