
<h1 style="margin-top: 5%;
background: white;
padding: 15px;">Order #{{order.orderNumber}}</h1>

<div class="card-loader" *ngIf="isLoad">
    <can-loader></can-loader>
  </div>
  <can-table  *ngIf="invoiceConfig" [tableConfig]="invoiceConfig"></can-table>

<can-detail-view [detailViewConfig]="detailViewData" *ngIf="detailViewData" ></can-detail-view>
<!-- <can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view> -->
<can-table  *ngIf="tableConfig" [tableConfig]="tableConfig"></can-table>
<div class="modelButton">
    <can-button 
        [buttonConfig]="generateInvoiceBtn"
        (click)="generateInvoice()"
    ></can-button>
</div>
