<div class="login-wrapper">
  <div class="login-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="w-100">
      <!-- Logo -->
      <div class="logo">
        <img [src]="logo" alt="logo" />
      </div>
      <!-- Logo -->
      
      <!-- OTP Form -->
      <form #otpForm="ngForm" *ngIf="generateOtpForm">
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput ngModel name="mobile" placeholder="mobile" required pattern="^[6-9]\d{9}$" />
          </mat-form-field>
          <div
            *ngIf="otpForm.controls.mobile.invalid && otpForm.controls.mobile.dirty && otpForm.controls.mobile.touched"
            class="error">
            <mat-error *ngIf="otpForm.controls.mobile.errors.required">
              mobile is required.
            </mat-error>
            <mat-error *ngIf="otpForm.controls.mobile.errors.pattern">
              Please enter valid mobile.
            </mat-error>
          </div>
          <button mat-raised-button color="primary" (click)="onGenerateOtp(otpForm)"
            [disabled]="otpForm.invalid || disableGenerateOtpButton">
            Generate OTP
          </button>
        </div>
      </form>
      <!-- OTP Form -->

      <!-- Login Form -->
      <form #loginForm="ngForm" *ngIf="loginForm">
        <div fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Mobile</mat-label>
            <input matInput [(ngModel)]="credentials.mobile" name="mobile" placeholder="mobile" disabled />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>OTP</mat-label>
            <input matInput [(ngModel)]="credentials.otp" name="otp" placeholder="Otp" required pattern="^\d{4}$" />
          </mat-form-field>

          <div *ngIf="loginForm.controls.otp.invalid && loginForm.controls.otp.dirty && loginForm.controls.otp.touched"
            class="error">
            <mat-error *ngIf="loginForm.controls.otp.errors.required">
              OTP is required.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.otp.errors.pattern">
              Please enter valid OTP.
            </mat-error>
          </div>

          <button mat-raised-button color="primary" (click)="onLogin()"
            [disabled]="loginForm.invalid || disableLoginButton">
            Log in
          </button>
        </div>
      </form>
      <!-- Login Form -->

    </div>
  </div>
</div>