.generate-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.generate-full-width {
  width: 100%;
}

.paid-amount{
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.request-pay{
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 10px 65px 10px;
}