<!-- <can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form> -->
<div class="paid-amount">
  <h2>Paid Amount :-    {{paidAmount | currency:'INR'}}</h2>
</div>
<div class="request-pay">
    <h2>Request payment</h2>
    <br>
    <form class="generate-form">
        <mat-form-field class="generate-full-width">
          <mat-label>Amount</mat-label>
          <input matInput  type="number"  (change)="validateAmount()" pattern="([1-9]|[0-9]{2,})$" [(ngModel)]="amount" name="amount">
        </mat-form-field>
        <span *ngIf="!validAmount" style="color: red;">Please enter valid amount</span>
      
        <can-button
        [disabled] = "!validAmount|| !amount"
      [buttonConfig]="requestPaymentConfig"
      (click)="requestPayment()"
    ></can-button>
      </form>
   
</div>