<!-- <can-detail-view [detailViewConfig]="detailViewData"></can-detail-view> -->
<app-leads-details-view [leadId] = "leadId"></app-leads-details-view>
<can-fab-button *ngIf="fabButtonConfig" [fabButtonConfig]="fabButtonConfig"
    (fabButtonOutputEvent)="reloadContent($event)"></can-fab-button>

<can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view>


<!-- <div fxFlex="100%" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
    <div fxFlex="100%">
  </div>
    <div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;">
   

   
    <div fxFlex="60%" class="detailStyle">
            
    <app-conversations></app-conversations>


    </div> 
    
    
     <div fxFlex="40%" >
         <div class="modelButton">
            <can-button
                [buttonConfig]="postUpdatesButtonConfig"
                (click)="openPostModal()"
            ></can-button>
        </div>
       <div>
        <app-follow-ups></app-follow-ups>
       </div>
      
    </div> 
    
   
    </div>
</div> -->
