<!-- <can-detail-view [detailViewConfig]="detailViewData"></can-detail-view> -->
<can-detail-view [detailViewConfig]="detailViewData" (getData)="onGetData($event)"></can-detail-view>
<br />
<br />
<ng-container *canValidatePermission="projectPermission">

    <can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"  ></can-tab-view>
</ng-container>
