<!-- <can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form> -->
<can-tab-view [tabViewConfig]="tabViewConfig" *ngIf="tabViewConfig"></can-tab-view>
<!-- <can-form [formConfig]="formConfig" (beforeSubmitFormValue) = "beforeSubmitFormValue($event)" (beforeSubmitFormValue)="onformChange($event)" *ngIf="formConfig" (getData)="formSubmitted($event)" ></can-form> -->