@import "~@angular/material/theming";

@include mat-core();
$boAt-app-primary: mat-palette($mat-red, 600);
$boAt-app-accent: mat-palette($mat-deep-orange, A400);
$boAt-app-warn: mat-palette($mat-red);
$boAt-app-theme: mat-light-theme(
  $boAt-app-primary,
  $boAt-app-accent,
  $boAt-app-warn
);
@include angular-material-theme($boAt-app-theme);
