// .new-button {
//     display: inline-block;
//     padding: 8px 12px; 
//     cursor: pointer;
//     border-radius: 4px;
//     background-color: #9c27b0;
//     font-size: 16px;
//     color: #fff;
// }
// input[type="file"] {
//   position: absolute;
//   z-index: -1;
//   top: 6px;
//   left: 0;
//   font-size: 15px;
//   color: rgb(153,153,153);
// }
// .button-wrap {
//   position: relative;
// }
input[type="file"].custom {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }