<!-- <can-form [formConfig]="formData" (formSubmitted)="formSubmitted($event)"></can-form> -->
<!-- <can-loader *ngIf="!projectForm"></can-loader> -->
<!-- <can-form-stepper [formStepperConfig]="formStepperConfig" (formSubmitted)="formSubmitted($event)" *ngIf="formStepperConfig"></can-form-stepper> -->
<can-form [formConfig]="projectForm" (formSubmitted)="formSubmitted($event)"></can-form>
<br>
<br>

<br>
<ng-container *ngIf="isAddress(addressId)">
    <can-form [formConfig]="addressForm" (formSubmitted)="formSubmitted($event)"></can-form>
</ng-container>
<ng-container *ngIf="!isAddress(addressId)">
    <can-form [formConfig]="createAddressForm" (getData)="updateProject($event)" (formSubmitted)="formSubmitted($event)"></can-form>
</ng-container>
<!-- 
<div fxFlex="100%" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="start" style="margin-top: 20px;"> 
    <div fxFlex="100%" class="detailStyle">
            <can-form [formConfig]="projectForm" (formSubmitted)="formSubmitted($event)"></can-form>
    </div>
    
    
    <div fxFlex="100%" >
         <div  class="detailStyle"> 
            
            <can-form [formConfig]="addressForm" (formSubmitted)="formSubmitted($event)"></can-form>
        
         </div> 
     </div>
    
   

</div> -->